@charset "UTF-8";
/* @import url("grid.css"); */

body {
    margin: 0;
    /* width: 50vh; */
    background-image: url(../02_img/background.png);
    background-repeat: repeat;
    background-size: contain;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 11.6vh;
    background: #ffffff 0% 0% no-repeat padding-box;
    opacity: 0.8;
}
/* 横並びに配置 */
header .container {
    /* position: fixed; */
    width: 100%;
    height: inherit;
    display: flex;
    padding: 5px;
    
}

header .row{
    /* display: flex; */
    align-items: center;
    width: 100%;
    height: 100%;
}
.head{
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translate(0%, -50%);
}

.link{
    position: absolute;
    left: 50%;
    /* top: 50%; */
    /* transform: translate(0%, 0%); */
    height: 100%;
    width: auto;
}
.link ul{
    display: flex;
    position: relative;
    height: 100%;
}

.linkin{
    height: 100%;
    width: 10vw;
    /* position: absolute; */
    /* top: 50%;*/
}

.linkin li{
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
}

.header{
    height: 100%;
    width: 100%;
    position: relative;
}

.menu-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: white;
    transition-duration: 0.3s;
}

.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: "";
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #F469BF;
    position: absolute;
}

.menu-btn span:before {
    background-color: #06B289;;
    bottom: 8px;
}
.menu-btn span:after {
    background-color: #F3DE21;
    top: 8px;
}

/*ハンバーガーメニューパーツ*/

.hamburger-contents{
    background-color: rgb(83, 228, 238);
    color: #333;
    position: fixed;
    width: 100%;
    height: 100%;
    max-width: 340px;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0 10px;
    transition-duration: 0.3s;
    z-index: 1;
    overflow: auto;
    transform: translateX(110%);
}

/*チェックボックス：オン・オフ動作のパーツ*/

#menu_btn_check:checked ~ .hamburger-contents{
    transform: translateX(0);
}

#menu_btn_check:checked + .menu-btn{
    transform: translateX(340px);
    transition-duration: 0.3s;
}

.hamburger-menu {
    position: relative;
    top: 50%;
    left: 130%;
    height: 5vh;
    width: 5vh;
}

/*閉じる動作のパーツ：ボタンか画面全体のマスクで閉じる*/

.menu-close {
    display: block;
    background: rgb(83, 228, 238);
    text-align: center;
    margin-top: 15px;
}

#menu_btn_check:checked ~ label.menu-mask{
    display: block;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0,.5);
    position: fixed;
    top: 0;
    left: 0;
}

/*チェックボックス非表示*/

/* .hamburger-menu input[type="checkbox"] { */
    /* transform: translateX(-50vw); */
/* } */

main {
    position: relative;
    top: 11.6vh;
    width: 100%;
}

main .container{
    position: relative;
    width: 100%;
}

.contentA{
    height: 88.4vh;
    position: relative;
}


.mainImage {
    /* width: 54vw; */
    position: absolute;
    top: 10vh;
    width: 54vw;
    left: 50%;
    transform: translate(-50%, 0%);
}

.scroll {
    position: absolute;
    top: 60vh;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contentB {
    height: 100vh;
    position: relative;
}

.contentB .main_content{
    position: relative;
}

.main_content .subImage{
    height: 5vh;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

.main_content .explain{
    position: absolute;
    top: 5vh;
}

.main_content .more{
    position: absolute;
    top: 50vh;
}


.contentC{
    height: 80vh;
    position: relative;
}

.contentC .main_content {
    height: 50vh;
    position: relative;
}

.main_content .blog {
    height: 3vh;
    position: absolute;
}

.main_content .blogIcon {
    display: flex;
    flex-direction: row;
}

.blogIcon .blogIconA {
    position: relative;
    width: 30vw;
    top: 5vh;
}

.main_content .more{
    position: absolute;
}


footer{
    position: relative;
    height: 20vh;
}

